@mixin background {
    opacity: .9;
    background-color: var(--very-dark);
    color: var(--very-light);
    font-style: italic;
}

// table section
// .mat-body p {
//     margin: auto;
//     text-align: center;
// }

// .mat-table {
//     font-family: var(--normal);
//     letter-spacing: normal;
// }

// .mat-cell {
//     font-size: 17px;
// }

// .mat-header-cell {
//     font-size: 25px;
//     font-weight: 600;
//     @include background;
// }
// .mat-sort-header-content {
//     letter-spacing: 2px;
//     padding: 12px;
//     margin-right: 5px;
// }

// .mat-paginator-container {
//     @include background;
// }

// .mat-paginator-page-size-label, .mat-paginator-range-label{
//     font-family: var(--normal);
//     font-size: large;
//     letter-spacing: 1px;
// }

// .mat-paginator-page-size {
//     padding-bottom: 10px;
// }

// .mat-paginator-icon, .mat-select-arrow{
//     color: var(--very-light);
// }

// td.mat-cell {
//     border-bottom-width: 2px !important;
//     &:last-of-type {
//         padding-right: 4px !important;
//     }
// }

// .mat-select-value-text {
//     color: var(--very-light);
//     font-size: 16px;
//     font-family: var(--normal);
//     font-weight: 600;
//     letter-spacing: 2px;
// }

// input section
// .mat-form-field-appearance-legacy .mat-form-field-underline {
//     background-color: var(--very-light);
//     opacity: .8;
// }

// .filter {
//     .mat-form-field-appearance-legacy .mat-form-field-underline {
//         background-color: var(--dark);
//         opacity: .8;
//     }
// }

// .mat-form-field {
//     font-family: var(--normal);
// }

// .mat-typography p {
//     margin: 9px;
// }

// .mat-form-field-appearance-legacy .mat-form-field-infix {
//     font-size: 20px;
//     color: var(--dark);
// }


// card section
.mat-card {
    margin-bottom: 20px !important;
    padding: 13px !important;
}

// snack bar styling
.mat-snack-bar-container {
    color: rgb(255 255 255);
    background: #af2c2ccf;
    margin: 24px 24px 65px 24px !important;
}
.mat-simple-snackbar-action {
    color: #5a0202;
}

// mini-fab section
.mat-mini-fab {
    width: 32px !important;
    height: 32px !important;
}

// icon section
.mat-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

// dialog section
.mat-dialog-container {
    background-color: var(--light-gray);
    border-radius: 34px !important;
    padding: 7px !important;
    min-height: 350px !important;
}