.container {
    display: flex;
    height: 100%;

    .filter {
        margin-bottom: 1.5rem;
        mat-icon {
            margin-right: .6rem;
        }
        .form-field {
            width: 25rem;
        }
    } 
    .table {
        margin: 25px auto;
        // .th0 {
        //     min-width: 250px;
        //     max-width: 400px;
        // }
        // .th1 {
        //     width: 100%;
        // }
    }
}