.mat-expansion-panel-body {
    padding: 0px !important;
}

.mat-body p {
    margin: auto;
    text-align: center;
}

.text-btn {
        margin-left: 20px !important;
        background-color: var(--dark);
        color: var(--very-light);
}